<div id="mongo-template" class="well">
  <h2>Mongodb</h2>
  <button ng-click="save()" class="btn btn-primary">Save</button><br/><br/>

  <p class="help-text">
    create mongodb user if not exists
  </p>

  <h3>mongo url</h3>
  <div class="row-fluid">
    <div class="span12">
      <input ui-refresh="selectedTab" ng-model="config.url"></input>
    </div>
  </div><br/>

  <h3>User</h3>
  <div class="row-fluid">
    <div class="span12">
      <textarea ui-refresh="selectedTab" ng-model="config.user"></textarea>
    </div>
  </div><br/>

  <button ng-click="save()" class="btn btn-primary">Save</button>
</div>
